.page-about {}

.heroabout {
  .container {
    padding-bottom: 1.5rem;

    &::before {
      display: block;
      content: "";
      position: absolute;
      pointer-events: none;
      width: 500px;
      height: 510px;
      background: url('../../assets/images/hero-about-bg.png') center no-repeat;
      background-size: cover;
      bottom: 0;
      right: -40px;
      z-index: -1;
    }
  }

  @include mobile {
    .hero__title span {
      display: none;
    }
  }
}

.principles {

  &__grid {}

  &__item {
    display: flex;
    flex-direction: column;
    background: #f4f7fe;
    padding: $spacing-xl;
    border-radius: 1rem;

    &-icon {
      margin-bottom: 1rem;
    }

    &-info {}

    &-title {
      font-size: $font-size-subtitle;
      line-height: 125%;
      letter-spacing: -0.02em;
      margin-bottom: 1rem;
    }

    &-description {
      line-height: 145%;
      opacity: .7;
      margin: 0;
      padding: 0;
    }
  }
}

.maps {
  overflow: hidden;
  margin-top: 14px;
  margin-bottom: 14px;

  &__map {
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ebf0fc;
      opacity: 0.8;
      mix-blend-mode: color;
      transition: opacity 0.2s ease-in-out;
      z-index: 2;
      pointer-events: none;
    }

    &:hover {
      iframe {
        filter: grayscale(0);
      }

      &::before {
        opacity: 0;
      }
    }

    iframe {
      filter: grayscale(1);
      transition: filter 0.2s ease-in-out;
    }
  }
}