.herocontact {

  &.animate-hero {
    .container {
      &::before {
        transform: translateY(12vh);
        opacity: 0;
      }
    }
  }

  .container {
    padding-bottom: 3rem;
    overflow: hidden;

    @include mobile {
      padding-bottom: 140px !important;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      pointer-events: none;
      width: 500px;
      height: 510px;
      background: url('../../assets/images/hero-about-bg.png') top center no-repeat;
      background-size: cover;
      top: 0;
      right: -40px;
      z-index: -1;
      opacity: .5;
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;

      @include tablet {
        background-position: bottom center !important;
        top: initial;
        bottom: 0;
      }

      @include mobile {
        opacity: 1;
        bottom: initial !important;
        top: 0 !important;
        right: 0 !important;
        height: 460px !important;
        background-size: 290px !important;
      }
    }
  }

  @include mobile {
    .hero__title span {
      display: none;
    }
  }
}

.contact {

  &__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.45rem;

    @include tablet2 {
      grid-template-columns: 1fr;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #f4f7fe;

    p {
      padding: 0;
      margin: 0;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      span {
        opacity: 0.7;
      }

      a,
      p {
        font-size: 1.75rem;
        font-weight: 600;
        color: $color-text;
        letter-spacing: -0.02em;
        line-height: 125%;
      }

      a {
        &:hover {
          color: $color-primary;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 6px;

      input {
        width: 100%;
        border: none;
        outline: none;
        height: 74px;
        padding: 12px 32px;
        border-radius: 40px;
      }
    }
  }

  &__maps {
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;

    @include tablet2 {
      height: 460px;
    }

    iframe {
      height: 100%;
    }
  }
}