.heroprice {
  background: url('../../assets/images/hero-price-bg.jpg') bottom center no-repeat #EBF0FC;
  background-size: auto 100%;
  transition: background-position 0.6s ease-in-out, opacity 0.6s ease-in-out;
  opacity: 1;

  &.animate-hero {
    background-position-x: 25vw;
    opacity: 0;
  }

  &::after {
    display: none;
  }

  @include mobile {
    background: url('../../assets/images/hero-price-bg.jpg') 80% 100% no-repeat #EBF0FC;
    // background-size: 200vw;
    background-size: 860px;

    .container {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background: linear-gradient(to bottom, #EBF0FC 70%, transparent 100%);
        z-index: -1;
        pointer-events: none;
      }
    }
  }
}