.herostocks {
  overflow: hidden;

  &.animate-hero {
    .container {
      &::before {
        transform: translateY(15vh) translateX(2vw) scale(0.9);
        opacity: .4;
      }

      &::after {
        transform: translateY(15vh) translateX(-2vw) scale(0.9);
        // opacity: .4;
      }
    }
  }

  .container {
    // overflow: hidden;

    @include tablet2 {
      padding-bottom: 3rem !important;
    }

    @include mobile {
      padding-bottom: 200px !important;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      pointer-events: none;
      width: 420px;
      height: 100%;
      background: url(../../assets/images/hero-about-bg.png) 0 90px no-repeat;
      background-size: contain;
      bottom: 0;
      right: -40px;
      z-index: -1;
      opacity: 1;
      transition: transform 0.8s ease-in-out, opacity 0.6s ease-in-out;

      @include tablet2 {
        opacity: 0;
        display: none;
      }
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      pointer-events: none;
      width: 340px;
      height: 240px;
      background: url(../../assets/images/hero-stock-bg.png) center no-repeat;
      background-size: cover;
      bottom: 0;
      right: 140px;
      z-index: -1;
      opacity: 1;
      transition: transform 0.8s ease-in-out, opacity 0.6s ease-in-out;

      @include tablet2 {
        // width: 470px;
        // height: 320px;
        // right: -220px;
        opacity: 0;
      }

      @include tablet {
        right: 0;
        width: 100%;
        background-position: bottom;
        background-size: contain;
        opacity: .25;
      }

      @include mobile {
        max-width: 290px;
        left: 50%;
        transform: translate(-50%, 0);
        background-position: bottom;
        opacity: 1;
      }
    }
  }
}

.stocks {
  &__slider {}
}