.hero {
  &--center {
    text-align: center;

    .hero__title,
    .hero__subtitle,
    .hero__buttons {
      margin-left: auto;
      margin-right: auto;
    }

    .hero__buttons {
      justify-content: center;
    }

    ul.hero__subtitle {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__title--w820 {
    max-width: 820px;
  }

  &__subtitle--w790 {
    max-width: 790px;
  }
}

.herousluga {

  &.animate-hero {
    .container {
      &::before {
        transform: translateY(15vh) scale(0.75);
        opacity: 0;
      }

      &::after {
        transform: translateY(15vh) scale(0.75);
        opacity: 0;
      }
    }
  }

  .container {
    &::before {
      content: '';
      position: absolute;
      left: -190px;
      bottom: -70px;
      width: 340px;
      height: 470px;
      background: url('../../assets/images/hero-usluga-bg1.png') center no-repeat;
      background-size: cover;
      transition: transform 0.9s ease-in-out, opacity 0.7s ease-in-out;
      z-index: -1;

      @include tablet2 {
        bottom: -90px;
      }

      @include tablet {
        bottom: -120px;
        left: -220px;
      }

      @include mobile {
        width: 240px;
        height: 370px;
        left: -50px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: -190px;
      bottom: -190px;
      width: 350px;
      height: 560px;
      background: url('../../assets/images/hero-usluga-bg2.png') center no-repeat;
      background-size: cover;
      transition: transform 0.9s ease-in-out, opacity 0.7s ease-in-out;
      z-index: -1;

      @include tablet2 {
        bottom: -210px;
      }

      @include tablet {
        bottom: -240px;
        right: -240px;
      }

      @include mobile {
        width: 250px;
        height: 460px;
        right: -60px;
        bottom: -180px;
      }
    }
  }

  .hero__title {
    span {
      font-weight: 600;
      color: $color-primary;
    }

    @include mobile {
      font-size: 2rem;
      line-height: 125%;
    }
  }
}

.faq {

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    pointer-events: none;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &.active {
      .faq__header {
        background: $bg-btn;
      }

      .faq__question {
        font-weight: 600;
        color: #ffffff;
      }

      .faq__icon {
        p {
          color: #ffffff;
          opacity: .85;
        }

        &::after {
          transform: rotate(180deg);
        }
      }

      .faq__content {
        // display: flex;
        padding: 1.5rem 2rem;
        height: auto;
        opacity: 1;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1.5rem 2rem;
    background: #EFF3FD;
    border-radius: 1rem;
    user-select: none;
    pointer-events: auto;

    p {
      padding: 0;
      margin: 0;
    }

    &:hover {
      // background-color: lighten($color-light-gray, 5%);
    }
  }

  &__question {
    font-size: 1.15rem;
    line-height: 125%;
    letter-spacing: -0.02em;
    pointer-events: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    &::after {
      display: block;
      content: '';
      width: 36px;
      min-width: 36px;
      height: 36px;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMzYnIGhlaWdodD0nMzYnIHZpZXdCb3g9JzAgMCAzNiAzNicgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cmVjdCB3aWR0aD0nMzYnIGhlaWdodD0nMzYnIHJ4PScxOCcgZmlsbD0nd2hpdGUnIC8+PHBhdGggZD0nTTE5LjIzNjEgMjMuNzAyMUMxOC42NCAyNC41NjkgMTcuMzYgMjQuNTY5IDE2Ljc2MzkgMjMuNzAyMUwxMS4zNjU1IDE1Ljg0OThDMTAuNjgxMiAxNC44NTQ1IDExLjM5MzggMTMuNSAxMi42MDE1IDEzLjVMMjMuMzk4NSAxMy41QzI0LjYwNjIgMTMuNSAyNS4zMTg4IDE0Ljg1NDUgMjQuNjM0NSAxNS44NDk4TDE5LjIzNjEgMjMuNzAyMVonIGZpbGw9JyMxNzFFNEYnIC8+PC9zdmc+") center no-repeat;
      background-size: cover;
      transition: transform 0.3s ease-in-out;

      @include mobile {
        width: 27px;
        min-width: 27px;
        height: 27px;
      }
    }

    p {
      font-size: 0.9rem;
      opacity: 0.5;

      @include mobile {
        display: none;
      }
    }
  }

  &__content {
    // display: none;
    background: #EFF3FD;
    border-radius: 12px;
    padding: 1.5rem 2rem;

    height: 0;
    opacity: 0;
    padding: 0 2rem;

    transition: all 0.2s ease-in-out;

    p:last-child {
      margin-bottom: 0;
    }
  }
}