// Подвал сайта
.footer {
  background: #EBF0FC;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 16px;
  padding-top: 24px;
  padding-bottom: 24px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #C9D3EC;

    .header__logo img {
      left: 0 !important;
    }

    @include mobile {
      .header__contacts {
        button {
          width: auto !important;
          padding: 0.8333333333rem 1.25rem !important;

          svg {
            display: none;
          }

          span {
            display: block;
          }
        }
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    align-items: flex-end;

    @include tablet {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;

      .footer__contacts {
        text-align: center;
      }
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  &__agency {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include mobile {
      align-items: center;
    }

    p {
      font-size: 0.9rem;
    }
  }

  &__links {
    text-align: center;

    a {
      font-size: 0.95rem;
      color: $color-text;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__contacts {
    text-align: right;
  }

  &__tel {
    font-weight: 700;
    font-size: 1.35rem;
    line-height: 165%;
    color: $color-text;

    &:hover {
      color: $color-primary;
    }
  }

  &__address {}
}

.menu__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 45, 58, 0.3);
  z-index: 800;
  display: none;
}