// Главный файл SCSS - импорт всех модулей

// Abstracts - переменные, функции, миксины
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// Base - базовые стили
@import 'base/fonts';
@import 'base/reset';
@import 'base/typography';
@import 'base/utilities';

// Layout - макет страницы
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/grid';

// Components - компоненты
@import 'components/buttons';
@import 'components/forms';
@import 'components/cards';
@import 'components/modal';

// Pages - стили для конкретных страниц
@import 'pages/home';
@import 'pages/pages';
@import 'pages/price';
@import 'pages/about';
@import 'pages/contact';

// Modules - сторонние модули и библиотеки
@import 'module/slick';